<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pushbullet.android.extension.messaging.sample">
    <uses-permission android:name="com.pushbullet.android.permission.READ_MESSAGING_EXTENSION_DATA" />
    <uses-permission android:name="com.pushbullet.android.permission.SEND_MESSAGES" />
    <application android:label="@string/app_name">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".SampleMessagingExtension"
            android:permission="com.pushbullet.android.permission.READ_MESSAGING_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.pushbullet.android.extension.MessagingExtension" />
            </intent-filter>
            <meta-data
                android:name="protocolVersion"
                android:value="1" />
        </service>
    </application>
</manifest>
